<div class="card">
    <div class="card-body">

        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium est dolor ullam quaerat harum magni ea rerum perspiciatis dolore vero, eaque at id iusto beatae ipsum non, ipsa dolores natus. Voluptas rem eveniet, minus aspernatur nesciunt repellendus quas suscipit inventore!</p>

    </div>
</div>