<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum consectetur vitae voluptatibus assumenda saepe eos autem accusantium culpa eaque voluptatem minus sequi unde quo iusto blanditiis, atque corporis porro provident.</p>
    <a href="google.com" class="btn btn-primary btn-lg">Google</a>
</div>